name: Build App

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
      - uses: actions/checkout@v4

      - name: Make script executable
        run: chmod -R +x ./scripts

      - name: Run build script
        run: ./scripts/build_app.sh
